/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* 
    Some default values
*/
$margin: 40px;

$actioncolour: #8b4b86;
$primarycolour: #86a35e;

@mixin museo {
    font-family: 'Museo', sans-serif;
    font-weight: 300;
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
    Nathan's styles
*/

html {
    background: url('../img/bg.png');
}

body {
    font-family: 'Droid-sans', sans-serif;
}

header {
    width: 100%;
    height: 136px;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 5px solid #111;
    overflow: auto;
    position: fixed;
    z-index: 10;

    hgroup {
        float: left;
        img {
            float: left;
        }
        h1 {
            margin: 0;
            text-transform: uppercase;
        }
        h2 {
            margin: 0;
        }
    }

    ul#menu {
        color: #222;
        float: right;
        margin: $margin 2*$margin 0 0;
        li {
            display: inline-block;
            padding-left: 2*$margin;
        }
    }

    .tel {
        clear: right;
        float: right;
        font-size: 24px;
        margin: $margin 2*$margin;
    }
}

h1 {
    @include museo;
    font-size: 40px;
}

h2 {
    @include museo;
    font-size: 20px;
}

section {
    overflow: auto;
    padding: $margin 2*$margin;
    position: relative;

    * {
        z-index: 1;
    }

    .section-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        z-index: 0;
    }

    &.first {
        padding: 136px 2*$margin $margin;
    }
}

#video {
    background-image: url('../img/salad.jpg');
    background-size: cover;
    min-height: 600px;
    padding-left: 0; padding-right: 0;

    h1 {
        background-color: $primarycolour;
        box-sizing: border-box;
        margin-top: 0;
        padding: 20px 3*$margin;
        width: 100%;
    }

    #video-play {
        display: block;
        height: 115px; width: 115px;
        margin: 160px auto 0;

        background-image: url('../img/play.png');
        &:hover {
            background-image: url('../img/play-hover.png');
        }
    }
}

#product {
    background-color: #fff;
    min-height: 600px;

    &>div {
        width: 30%;
        float: left;
        margin: 0 1%;
    }

    #intro {
    }
    #gallery {
        text-align: center;
        img {
            margin: 3px 1px;
        }
    }
    #clients {
        ul {
            list-style-type: none;
            li {
                margin: 20px 0;
            }
        }
        img {
            width: 220px;
        }
    }
}

#testimonial {
    background-color: $primarycolour;
    box-sizing: border-box;
    height: 130px;
    overflow: visible;
    position: relative;
    z-index: 2;
    p {
        @include museo;
        font-size: 29px;
        margin: 0 200px 0 0;
    }
    img {
        position: absolute;
        right: 30px;
        top: -25px;
        border: 1px solid $primarycolour;
    }
}

#social {
    background-image: url('../img/working.jpg');
    background-size: cover;
    padding-left: 0;
    h1 {
        margin-left: 2*$margin;
    }
    &>div {
        width: 680px;
        background-color: #fff;
        overflow: auto;
        padding-left: 2*$margin;
        box-sizing: border-box;
        div {
            width: 50%;
            box-sizing: border-box;
            float: left;
            &:last-child {
                padding: 20px;
            }
        }
    }
    button {
        margin: 5px 0;
        width: 260px;
    }
}

button {
    background-color: $actioncolour;
    background-image: url('../img/action-arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    border-right: 20px solid $actioncolour;
    box-sizing: border-box;
    color: #fff;
    @include museo;
    padding: 10px 20px;;
    text-align: left;
    width: 245px;
}